 <% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>This is Rails Based Social Network! Please enjoy!</p></br>

<p>Contact Us in <a href="maill:vitor.casadei@gmail.com">vitor.casadei@gmail.com</a>.</p>