<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>RailsNetwork</title>
  <style type="text/css">
  body, td { color:#000000; font-size:14px; font-family:Verdana,Helvetica,Arial; }
  .divider { background-color:#555555; height:2px; }
  .episode h2 { margin-top:0; margin-bottom:8px; font-size:18px; }
  .episode p { margin:8px 0; }
  .episode img { border:solid 1px #777777; }
  .episode .duration { font-size:11px;color:#555555; }
  #footer { font-size:11px; color:#555555; }
  #footer a { color:#555555;}
  </style>
</head>
<body>
  <table width="100%" id="background" border="0" cellpadding="0" cellspacing="0">
    <tr><td align="center" valign="top">
      <table width="650" id="main" border="0" cellpadding="0" cellspacing="20">
        <tr>
          <td id="header" colspan="2">
           <div align="center"><h1><b style="color:red;">RailsNetwork</b></br><br>A Rails Based Network!</h1></div>
          </td>
        </tr>
        <tr>
          <td class="divider" colspan="2" bgcolor="#555555" height="2"></td>
        </tr>
        <tr class="episode">

          <td valign="top">
          	<h2><p><b><%= @user.name %></b>,</p></h2>

<p>Thank you for using <b style="color:red;">RailsNetwok</b>!</p>

<p><b><%= @current.name %></b> is now Following You!</p>
<p>Access <b><%= @current.name %></b> profile at <%= user_url(@current, :host => "localhost:3000") %><p>
          </td>
        </tr>
        <tr>
          <td class="divider" colspan="2" bgcolor="#555555" height="2"></td>
        </tr>
      </table>
    </td></tr>
  </table>
</body>
</html>