<footer class="footer">
  <small>
    <a href="http://localhost:3000/">RailsNetwork</a>
    by Vitor Casadei
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
    </ul>
  </nav>
</footer>